@import "tailwindcss";

body {
  background-color: #f4f6f8;
}
:root {
  font-family: var(--font-inter), sans-serif;
}
.hero-button {
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  background-color: white; /* bg-white */
  color: #0167ff; /* text-[#0167FF] */
  transition: all 0.3s ease; /* transition-all with 300ms duration */
}

.hero-button:hover {
  background-color: #0167ff; /* hover:bg-blue-600 */
  color: white; /* hover:text-white */
}
